<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de Estado</title>
    <style>
        body {
            font-family: Ariasl, sans-serif;
            background-color:aquamarine;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px black;
        }

        h1 {
            color: greenyellow;
        }

        p {
            color: #000 ;
        }
        
    </style>
</head>
<body>
    <div class="contenedor">
        <h1>Notificación de cambio de estado del reclamo</h1>
        <h1>Estimado Sr/Sra {{nombre}}.</h1>
        <h3>Nos comunicamos para informarles que su reclamo sobre <b>{{reclamo}}</b> ha cambiado de estado a <b>{{estado}}</b> </h3>

        <h3>Atte. Concesionaria Prog III</h3>
        <h4>No responder este correo....</h4>
    </div>
</body>
</html>